.channel-all {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #313338;
    display: flex;
}

.channel-window {
    height: 100vh;
    background-color: #313338;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.channel-name {
    height: 48px;
    background-color: #313338;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 1%;
    gap: 10px;
    box-shadow: 0px 2px 1px 0px #25262a; 
}

.channel-name-name {
    font-family: 'gg sans';
    font-size: 16px;
    color: #f2f3f5;
    font-weight: 500;
}

.channel-hash {
    color: #80848e;
}

.channel-main {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 48px);
}

.user-list {
    background-color: #2b2d31;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.chat-bar {
    margin: 16px;
    height: 44px;
    background-color: #383a40;
    width: 97%;
    display: flex;
    align-items: center;
    padding-left: 1%;
    border-radius: 8px;
}

.chat-bar-input {
    background-color: #383a40;
    font-family: 'gg sans';
    border: none;
    color: white;
    height: 100%;
    font-size: 16px;
    outline: none;
}

.chat-window-chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.chat-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.message-list-item {
    display: flex;
    font-family: 'gg sans';
    font-size: 16px;
    color: #dbdee1;
    font-weight: 400;
    padding-left: 15px;
    align-items: center;
    gap: 15px;
}

.message-list-name {
    font-family: 'gg sans';
    font-size: 16px;
    color: #f2f3f5;
    font-weight: 500;
}

.message-list {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 10px;
    height: calc(100vh - 92px);
    gap: 17px;
}

.message-list-body {
    color: #dbdee1;
    font-size: 16px;
    font-weight: 400;
}

.message-list-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.message-list-username {
    font-family: 'gg sans';
    font-size: 16px;
    color: #f2f3f5;
    font-weight: 500;
}

.why-image {
    width: 32px;
    height: 32px;
    margin-left: 8px;
}

.why {
    width: 221px;
    height: 42px;
    margin-left: 8px;
    gap: 8px;
    display: flex;
    align-items: center;
}

.why:hover {
    border-radius: 4px;
    background-color: #3f4248;
}

.user-list-name {
    font-size: 95%;
    font-weight: 500;
    color: #9299a2;
}

.explore-server-icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.explore-home {
    overflow: auto;

}

.explore-server-name {
    font-family: 'gg sans';
    font-size: 16px;
    color: #f2f3f5;
    font-weight: 500;
}

.explore-server {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px;
}

.explore-server-button {
    margin-right: 20px;
    position: relative;
    color: blanchedalmond;
    height: 36px;
    width: 98px;
    background-color: #5865f2;
    border: none;
    border-radius: 5px;
    transition: 0.170s;
}

.explore-server-button:hover {
    cursor: pointer;
    background-color: #4752c5;
}