.channel-all {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #313338;
    display: flex;
}

.channel-window {
    height: 100vh;
    width: 84vw;
    background-color: #313338;
    display: flex;
    flex-direction: column;
}

.channel-name {
    height: 5vh;
    background-color: #313338;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 1%;
    box-shadow: 0px 2px 1px 0px #25262a; 
}

.channel-main {
    display: flex;
    justify-content: space-between;
}

.user-list {
    height: 95vh;
    background-color: #2b2d31;
    width: 240px;
}
