.server-list {
    height: 100vh;
    width: 5rem;
    background-color: #1e1f22;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 0;
}

.server-item-button {
    border-radius: 50px;
    border: none;
}

.server-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: blanchedalmond;
    border-radius: 50px;
    border: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.server-item-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    border: none;
}