.server-modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.65);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.server-modal-content {
    width: 440px;
    height: 440px;
    background-color: ghostwhite;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.top-half {
    font-family: 'gg Sans';
    display: flex;
    justify-content: center;
}

.close {
    position: relative;
    left: 6rem;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px
}